<h3 class="p-3 text-center">Angular - Display a list of Employees with ngFor</h3>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{emp.empNo}} </td>
                <td> {{emp.eName}} </td>
                <td> {{emp.eSal}} </td>
            </tr>
        </tbody>
    </table>
</div>