<h3> Welcome Home Page </h3>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item" style="margin-left: 10px;">
      <a routerLink="empList" class="btn btn-primary active" role="button" routerLinkActive="active">Emp List</a>
    </li>
    <li class="nav-item" style="margin-left: 10px;">
      <a routerLink="empById" class="btn btn-primary active" role="button" routerLinkActive="active">Find by id</a>
    </li>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>